<%= render 'shared/error_messages', object: @digital_currency %>

<%= form_for(@digital_currency) do |f| %>
<table>
  <tr><td colspan="2" class="thead"><%= timestamps(@digital_currency) %></td></tr>
  <tr>
    <td>From：</td>
    <td><%= f.text_field(:symbol_from, onclick: select_all) %></td>
  </tr>
  <tr>
    <td>To：</td>
    <td><%= f.text_field(:symbol_to, onclick: select_all) %></td>
  </tr>
  <tr>
    <td colspan="2" align="right" class="tfoot">
      <%= f.submit( submit,id: submit_id) %>
    </td>
  </tr>
</table>
<% end %>
<br/>
<%= link_back_to_digital_currencies %>
<%= link_to_delete(@digital_currency) %>
<p/>
