<h2>交易策略列表</h2>

<table>
  <tr class="thead">
    <td width="15"></td>
    <td>交易类型</td>
    <td>参数名称</td>
    <td>参数的值</td>
    <td>范围步长</td>
  </tr>
<% n = 1 %>
<% @trade_strategies.each do |trade_strategy| %>
  <tr <%= change_row_color %>>
    <td align="right"><%= n %></td>
    <td><%= trade_deal_type_arr.rassoc(trade_strategy.deal_type)[0] %></td>
    <td><%= link_edit_to(trade_strategy,trade_strategy.trade_param.title) %></td>
    <td align="right"><%= trade_strategy.param_value %></td>
    <td align="right"><%= trade_strategy.range_step %></td>
  </tr>
  <% n += 1 %>
<% end %>
  <tr>
    <td colspan="6" class="thead"></td>
  </tr>
</table>
<br/>
<%= link_to '新增策略', new_trade_strategy_path, { id: 'add_new_trade_strategy' } %>
