<% if login? %>
  <div id="<%= id %>" style="width:100%">
    <small>
      <%= link_back_to_trial_lists %> |
      <%= link_back_to_properties %> |
      <% if admin? %>
        <%= link_back_to_portfolios %> |
        <%= system_params_form_link %> |
        <%= huobi_assets_link %> |
        <%= order_list_link %> |
        <%= link_back_to_currencies %> |
        <%= link_back_to_items %> |
        <%= link_back_to_interests %> |
        <%= link_back_to_deal_records %> |
        <%= link_to_btc_deal_records %> |
        <%= link_to_eth_deal_records %> |
        <%= invest_log_link("BTC") %> |
        <%= invest_log_link("ETH") %> |
        <%= clear_invest_log_link %> |
        <%= link_to "交易对表", digital_currencies_path %> |
        <%= link_to "交易参数", trade_params_path %> |
        <%= link_to "交易策略", trade_strategies_path %> |
        <%= link_to "策略参数", digital_params_path %> |
        <%= link_to t(:record_index), records_path %> |
      <% end %>
      <%= logout_link %>
    </small>
  </div>
<% end %>
